.idea/shelf/Uncommitted_changes_before_Update_at_16_05_25,_12_34 pm_\[Changes\]/file-system.probe
.idea/shelf/Uncommitted_changes_before_Update_at_16_05_25,_12_34 pm_\[Changes\]/fileHashes.bin
.idea/shelf/Uncommitted_changes_before_Update_at_16_05_25,_12_34 pm_\[Changes\]/fileHashes.lock
.idea/shelf/Uncommitted_changes_before_Update_at_16_05_25,_12_34 pm_\[Changes\]/resourceHashesCache.bin
.idea/shelf/Uncommitted_changes_before_Update_at_16_05_25,_12_34 pm_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_16_05_25__12_34pm__Changes_.xml
.idea/workspace.xml
